################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeFromBook_charpAnddotNet5/FileContentIndex/10674edd-712b-40d7-996b-aa52448413d7.vsidx
/.vs/CodeFromBook_charpAnddotNet5/FileContentIndex
